<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Ashhad Azmi</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 2px; right: 10px;">
        <a href="https://www.linkedin.com/in/ashhadazmi/" target="_blank" class="">
            <img src="../../assets/in_logo.png" width="24" height="24" class="rounded-circle me-2" alt="">
        </a>
        <a href="https://github.com/AshhadAzmi" target="_blank" class="">
            <img src="../../assets/gb_logo.png" width="24" height="24" class="rounded-circle me-2" alt="">
        </a>
        <a href="https://www.facebook.com/ashhad0" target="_blank" class="">
            <img src="../../assets/fb_logo.png" width="24" height="24" class="rounded-circle me-2" alt="">
        </a>
    </div>
</div>